<div class="col-md-16">
    <h2>Account</h2>

    <form class="form-horizontal">
        <fieldset>
            <legend>Profile</legend>
            <div class="form-group">
              <label class="col-xs-3 control-label" for="name">Name:</label>
              <div class="col-xs-4">
              <input id="name" name="name" type="text" ng-model="profile.name" placeholder="No Data Loaded" class="form-control input-normal">
              <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label" for="email">E-mail:</label>
              <div class="col-xs-4">
              <input id="email" name="email" type="text" ng-model="profile.email" placeholder="No Data Loaded" class="form-control input-md" disabled="">
              <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label" for="description">Description:</label>
              <div class="col-xs-4">
              <textarea id="description" name="description" type="text" ng-model="profile.description" placeholder="No Data Loaded" class="form-control input-md"/>
              <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label" for="address">Address:</label>
              <div class="col-xs-4">
              <textarea id="address" name="address" type="text" ng-model="profile.address" placeholder="No Data Loaded" class="form-control input-md"/>
              <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label" for="phone">Phone:</label>
              <div class="col-xs-4">
              <input id="phone" name="phone" type="text" ng-model="profile.phone" placeholder="No Data Loaded" class="form-control input-md">
              <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label" for="">Website:</label>
              <div class="col-xs-4">
              <input id="website" name="website" type="text" ng-model="profile.website" placeholder="No Data Loaded" class="form-control input-md">
              <span class="help-block"></span>
              </div>
            </div>
        </fieldset>
    </form>

    <form class="form-horizontal">
        <fieldset>
            <legend>Change Password</legend>

            <div class="form-group">
              <label class="col-xs-3 control-label" for="oldPassword">Old Password:</label>
              <div class="col-xs-4">
              <input id="oldPassword" name="oldPassword" type="password" ng-keypress="clear()" ng-model="oldpass" placeholder="Enter Password" class="form-control input-normal">
              <span class="help-block"></span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-3 control-label" for="newPassword">New Password:</label>
              <div class="col-xs-4">
              <input id="newPassword" name="newPassword" type="password" ng-keypress="clear()" ng-model="newpass" placeholder="Enter Password" class="form-control input-normal">
              <span class="help-block"></span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-3 control-label" for="confirmPassword">Confirm New Password:</label>
              <div class="col-xs-4">
              <input id="confirmPassword" name="confirmPassword" type="password" ng-keypress="clear()" ng-model="confirm" placeholder="Enter Password" class="form-control input-normal">
              <span class="help-block"></span>
              </div>
            </div>

            <div class="col-xs-7">
              <button class="btn btn-success pull-right" ng-click="changePassword(oldpass, newpass, confirm)">Change Password</button>
            </div>

            <p class="error" ng-show="err">{{err}}</p>
            <p class="good" ng-show="msg">{{msg}}</p>

        </fieldset>
    </form>

    <form class="form-horizontal">
        <fieldset>
            <legend>Change Email</legend>

            <div class="form-group">
              <label class="col-xs-3 control-label" for="newEmail">New Email:</label>
              <div class="col-xs-4">
              <input id="newEmail" name="newEmail" type="text" ng-keypress="clear()" ng-model="newEmail" placeholder="Enter E-mail" class="form-control input-normal">
              <span class="help-block"></span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-3 control-label" for="Password">Password:</label>
              <div class="col-xs-4">
              <input id="Password" name="Password" type="password" ng-keypress="clear()" ng-model="pass" placeholder="Enter Password" class="form-control input-normal">
              <span class="help-block"></span>
              </div>
            </div>

            <div class="col-xs-7">
              <button class="btn btn-success pull-right"  ng-click="changeEmail(pass, newEmail)">Update Email</button><br />
            </div>

            <p class="error" ng-show="emailerr">{{emailerr}}</p>
            <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
        </fieldset>
    </form>
    <div>
    <h3>Maps</h3>
        <ul>
            <li ng-repeat="(mapname, map) in profile.maps">
                <a href="/index.html#/map/{{profile.$id}}/{{mapname}}">{{mapname}}</a> [<a href="/index.html#/edit/{{mapname}}">edit</a>]
                
            </li>
        </ul>
  </div>
    
    
    <div class="col-xs-7">
      <button class="btn btn-danger pull-left"  ng-click="logout()">Log Out</button>
    </div>
</div>
