
    <!-- ==== HEADERWRAP ==== -->
      <div id="headerwrap" id="home" name="home">
        <header class="clearfix">
            <h1><span class="glyphicon glyphicon-map-marker blue"></span></h1>
              <p>
                Buffalo Open GIS<br />
                 Map, Share, Act.
             </p>
        </header>
      </div><!-- /headerwrap -->

    <!-- ==== GREYWRAP ==== -->
    <div id="greywrap">
      <div class="row">
        <div class="col-lg-4 callout">
          <span class="icon icon-upload"></span>
          <h2>Create a Map (<5 min)</h2>
          <p>Create an account. Copy and paste data points from your excel spreadsheet into our tools.  We do the rest for you! Translating addresses into latitude/longitude pairs, generating the map, creating tool tips. All you have to do is share your data.</p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4 callout">
          <span class="icon icon-stack"></span>
          <h2>Use your data!</h2>
          <p>Addresses in a spreadsheet are useless. Buffalo Open GIS helps you visualize your data and access it from your mobile device. Share your maps with your community, update them in the field, see the patterns in your data. All for free with our easy to use website.</p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4 callout">
          <span class="icon icon-heart"></span>
          <h2>Share your map or embed into your site</h2>
          <p>Integrating your custom map in your website is as simple as copying and pasting.  Don't have a website? Just send the link - we'll host it for you.</p>
        </div><!-- col-lg-4 -->
      </div><!-- row -->
    </div><!-- greywrap -->

    <!-- ==== ABOUT ==== -->
    <div class="container" id="about" name="about">
      <div class="row white">
      <br>
        <h1 class="centered">WHAT IS BUFFALO OPEN GIS?</h1>
        <hr>

        <div class="col-lg-6">
          <p>Buffalo Open GIS is a system developed to help individuals and community organizations map their data enabling positive impacts on the city of Buffalo. When we looked at the data sets provided by organizations for the <a href="https://attwny.hackupstate.com/" target="_blank">WNY Civic App Challenge</a> we saw a common need for groups.  The NGOs had spreadsheets full of addresses and latitudes/longitudes, but they didn't have a good way to create, update, and share, that data with other citizens. Building this tool gave us a chance to stretch our abilities and try out some new development tools.</p>
        </div><!-- col-lg-6 -->

        <div class="col-lg-6">
          <p>Algonquin Studios believes strongly in giving time and other resources to the Western New York community, especially the City of Buffalo and some of its underserved neighborhoods. If you enjoy this application and plan to use it, please consider supporting another program we operate: <a href="http://buffalosoccerclub.org/" target="_blank">Algonquin Sports for Kids: Buffalo Soccer Club</a>. A youth soccer program based on the concepts of healthy choices, personal responsibility, and respect for self and others.</p>
        </div><!-- col-lg-6 -->
      </div><!-- row -->
    </div><!-- container -->

    <!-- ==== SECTION DIVIDER1 -->
    <section class="section-divider textdivider divider1">
      <div class="container">
        <h1>POPULAR MAPS</h1>
        <hr>
        <p style="color:#333; font-weight:500;">See what other folks in the community are mapping.</p>
      </div><!-- container -->
    </section><!-- section -->


          <!-- ==== PORTFOLIO ==== -->
    <div class="container" id="maps" name="maps">
    <br>
      <div class="row">
        <br>
        <h1 class="centered">THIS WEEKS MOST ACCESSED MAPS</h1>
        <hr>
        <br>
        <br>
      </div><!-- /row -->
      <div class="container">
      <div class="row">

        <!-- PORTFOLIO IMAGE 1 -->
        <div class="col-md-4 ">
            <div class="grid mask">
            <figure class="embed-responsive embed-responsive-4by3">
              <!-- img class="img-responsive" src="assets/img/portfolio/folio01.jpg" alt="" -->
              <iframe class="embed-responsive-item" src="embed.html#/map/simplelogin:3/200" alt="Map Name" scrolling="no" seamless></iframe>
              <figcaption>
                <h5>Map Name</h5>
                <a href="#/map/simplelogin:3/200" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption><!-- /figcaption -->
            </figure><!-- /figure -->
            </div><!-- /grid-mask -->
        </div><!-- /col -->

        <!-- PORTFOLIO IMAGE 2 -->
        <div class="col-md-4 ">
            <div class="grid mask">
            <figure class="embed-responsive embed-responsive-4by3">
              <!-- img class="img-responsive" src="assets/img/portfolio/folio01.jpg" alt="" -->
              <iframe class="embed-responsive-item" src="embed.html#/map/simplelogin:3/200" alt="Map Name" scrolling="no" seamless></iframe>
              <figcaption>
                <h5>Map Name</h5>
                <a href="#/map/simplelogin:3/200" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption><!-- /figcaption -->
            </figure><!-- /figure -->
            </div><!-- /grid-mask -->
        </div><!-- /col -->

        <!-- PORTFOLIO IMAGE 3 -->
        <div class="col-md-4 ">
            <div class="grid mask">
            <figure class="embed-responsive embed-responsive-4by3">
              <!-- img class="img-responsive" src="assets/img/portfolio/folio01.jpg" alt="" -->
              <iframe class="embed-responsive-item" src="embed.html#/map/simplelogin:3/200" alt="Map Name" scrolling="no" seamless></iframe>
              <figcaption>
                <h5>Map Name</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption><!-- /figcaption -->
            </figure><!-- /figure -->
            </div><!-- /grid-mask -->
        </div><!-- /col -->

        <!-- PORTFOLIO IMAGE 4 -->
        <div class="col-md-4 ">
            <div class="grid mask">
            <figure class="embed-responsive embed-responsive-4by3">
              <!-- img class="img-responsive" src="assets/img/portfolio/folio01.jpg" alt="" -->
              <iframe class="embed-responsive-item" src="embed.html#/map/simplelogin:3/200" alt="Map Name" scrolling="no" seamless></iframe>
              <figcaption>
                <h5>Map Name</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption><!-- /figcaption -->
            </figure><!-- /figure -->
            </div><!-- /grid-mask -->
        </div><!-- /col -->

        <!-- PORTFOLIO IMAGE 5 -->
        <div class="col-md-4 ">
            <div class="grid mask">
            <figure class="embed-responsive embed-responsive-4by3">
              <!-- img class="img-responsive" src="assets/img/portfolio/folio01.jpg" alt="" -->
              <iframe class="embed-responsive-item" src="embed.html#/map/simplelogin:3/200" alt="Map Name" scrolling="no" seamless></iframe>
              <figcaption>
                <h5>Map Name</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption><!-- /figcaption -->
            </figure><!-- /figure -->
            </div><!-- /grid-mask -->
        </div><!-- /col -->

        <!-- PORTFOLIO IMAGE 6 -->
        <div class="col-md-4 ">
            <div class="grid mask">
            <figure class="embed-responsive embed-responsive-4by3">
              <!-- img class="img-responsive" src="assets/img/portfolio/folio01.jpg" alt="" -->
              <iframe class="embed-responsive-item" src="embed.html#/map/simplelogin:3/200" alt="Map Name" scrolling="no" seamless></iframe>
              <figcaption>
                <h5>Map Name</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption><!-- /figcaption -->
            </figure><!-- /figure -->
            </div><!-- /grid-mask -->
        </div><!-- /col -->
      <br>
      <br>
    </div><!-- /row -->
  </div><!-- /container -->



    <!-- ==== TEAM MEMBERS ==== -->
    <div class="container" id="team" name="team">
    <br>
      <div class="row white centered">
        <h1 class="centered">MEET OUR AWESOME TEAM</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-2 centered  col-lg-offset-1">
          <img class="img img-circle" src="assets/img/team/team01.jpg" alt="Clark Dever" height="120px" width="120px" alt="">
          <br>
          <h4><b>Clark Dever</b></h4>
          <a href="https://www.twitter.com/clarkdever" class="icon icon-twitter"></a>
          <a href="https://www.facebook.com/clarkdever" class="icon icon-facebook"></a>
          <p>Hacker, Maker, Community Organizer, above all else --<br />Buffalonian.</p>
        </div><!-- col-lg-2 -->

        <div class="col-lg-2 centered">
          <img class="img img-circle" src="assets/img/team/team02.jpg" alt="Donald F. Lee III" height="120px" width="120px" alt="">
          <br>
          <h4><b>Don Lee</b></h4>
          <a href="https://www.twitter.com/dflee30" class="icon icon-twitter"></a>
          <a href="https://www.facebook.com/AlgonquinStudios" class="icon icon-facebook"></a>
          <p>Family man, developer, consultant. Passionate about improving healthcare and making sense of data.</p>
        </div><!-- col-lg-2 -->

        <div class="col-lg-2 centered">
          <img class="img img-circle" src="assets/img/team/team03.jpg" alt="David Thiemecke" height="120px" width="120px" alt="">
          <br>
          <h4><b>David Thiemecke</b></h4>
          <a href="https://twitter.com/DavidThiemecke" class="icon icon-twitter"></a>
          <a href="https://www.facebook.com/AlgonquinStudios" class="icon icon-facebook"></a>
          <p>If you’ll tell a good story, it’s worth doing. Co-Founder of startups transforming data and our community.</p>
        </div><!-- col-lg-2 -->
        <div class="col-lg-2 centered">
          <img class="img img-circle" src="assets/img/team/team04.jpg" alt="Charles Marra" height="120px" width="120px" alt="">
          <br>
          <h4><b>Charles Marra</b></h4>
          <a href="https://twitter.com/cjmarra718" class="icon icon-twitter"></a>
          <a href="https://www.facebook.com/cj.marra.39" class="icon icon-facebook"></a>
          <p>Project Manager, Developer, Dad, Husband, Veteran. Focused on implementation and project completion. </p>
        </div><!-- col-lg-2 -->

        <div class="col-lg-2 centered">
          <img class="img img-circle" src="assets/img/team/team05.jpg" alt="Nick Gianadda" height="120px" width="120px" alt="">
          <br>
          <h4><b>Nick Gianadda</b></h4>
          <a href="https://twitter.com/gianadda" class="icon icon-twitter"></a>
          <a href="https://www.facebook.com/nicky.gianadda" class="icon icon-facebook"></a>
          <p>Builder, Big Data and Data Visualization Specialist, I love creating intelligent systems to automate &amp; improve decision making.</p>
        </div><!-- col-lg-2 -->
      </div><!-- row -->
    </div><!-- container -->



    <!-- ==== SECTION DIVIDER6 ==== -->
    <section class="section-divider textdivider divider6">
      <div class="container">
        <h1>HANDCRAFTED IN BUFFALO, NEW YORK, USA.</h1>
        <hr>
        <p>Algonquin Studios</p>
        <p>716.842.1439</p>
        <p><a class="icon icon-twitter" href="https://twitter.com/ASBuffalo"></a> | <a class="icon icon-facebook" href="https://www.facebook.com/AlgonquinStudios/"></a></p>
      </div><!-- container -->
    </section><!-- section -->
